.achieve {
  @include zero-fields;
  box-sizing: border-box;
  border: none;
  padding: 28px 20px 21px 20px;
  order: 1;
  background-color: $bg-blocks-color;
}

.achieve__legend {
  display: none;
  margin: 0 auto;
}

.achieve__header {
  @include zero-fields;
  @include form-label;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 17px;
}

.achieve__list {
  @include zero-list;
  width: 280px;
  padding-left: 10px;
  height: 492px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.achieve__label {
  display: inline-block;
  position: relative;
  padding-left: 36px;
  font-size: 18px;
  line-height: 30px;
  color: $main-dark-color;
  cursor: pointer;
  user-select: none;
}

.achieve__input + .achieve__label::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  top: -7px;
  left: -33px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.achieve__input:checked + .achieve__label::after {
  position: absolute;
  content: "";
  width: 22px;
  height: 17px;
  top: 4px;
  left: -24px;
  background: url("../img/icon-yes.svg") no-repeat center;
}

.achieve__input:disabled + .achieve__label {
  pointer-events: none;
  border-color: rgba(229, 229, 229, 0.1);
  color: rgba(40, 54, 69, 0.1);
}

.achieve__label:hover {
  &::before {
    border-color: #293746;
  }
}

.achieve__input:active + .achieve__label {
  &::before {
    border-color: #d22856;
  }
}

.achieve__input:focus + .achieve__label {
  &::before {
    border-color: #d22856;
  }
}

@media (min-width: $tablet-width) {
  .achieve {
    order: 3;
    background-color: transparent;
    border: 2px solid $bg-blocks-color;
    padding-bottom: 54px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .achieve__header {
    display: none;
  }

  .achieve__legend {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0 30px;
    font-size: 14px;
    color: $main-red;
  }

  .achieve__list {
    flex-direction: column;
    align-items: flex-start;
    height: 440px;
    padding-top: 17px;
    padding-left: 48px;
  }

  .achieve__label {
    padding-left: 26px;
  }
}

@media (min-width: $desktop-width) {
  .achieve {
    width: 940px;
    padding-bottom: 40px;
    margin-bottom: 21px;
  }

  .achieve__list {
    width: 846px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 132px;
    padding-left: 50px;
  }

  .achieve__item {
    box-sizing: border-box;
    height: 50px;
    padding-right: 67px;
  }
}
