.contacts {
  position: relative;
  padding-top: 43px;
  padding-bottom: 38px;
  background-color: $main-layer-color;
}

.contacts__bottom-edge {
  position: absolute;
  width: 100%;
  height: 35px;
  bottom: -35px;
  left: 0;
  z-index: 2;
}

.contacts__header {
  @include zero-fields;
  margin: 0 auto;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: $main-dark-color;
  text-align: center;
  padding-bottom: 34px;
}

.contacts__wrapper {
  margin: 0 auto;
  width: 243px;
  display: flex;
  min-height: 238px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contacts__type {
  @include zero-fields;
  text-align: center;
  padding-bottom: 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.contacts__value {
  display: block;

  @include zero-fields;
  text-align: center;
  text-decoration: none;
  color: #d22856;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.contacts__value-email {
  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active {
    color: #bec2c7;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 46px;
    padding-bottom: 5px;
  }

  .contacts__bottom-edge {
    height: 70px;
    bottom: -70px;
  }

  .contacts__header {
    width: 385px;
    text-align: center;
    font-size: 40px;
    line-height: 47px;
    padding-bottom: 24px;
  }

  .contacts__type {
    padding-bottom: 7px;
  }

  .contacts__block--phone {
    margin-left: 17px;
  }

  .contacts__wrapper {
    width: 561px;
    min-height: 236px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__block--address {
    flex-grow: 1;
  }

  .contacts__block--address .contacts__value {
    width: 215px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 68px;
    padding-bottom: 9px;
  }

  .contacts__bottom-edge {
    height: 82px;
    bottom: -82px;
  }

  .contacts__header {
    width: 470px;
    text-align: center;
    font-size: 50px;
    line-height: 57px;
    padding-bottom: 61px;
  }

  .contacts__type {
    padding-bottom: 25px;
  }

  .contacts__block--phone {
    margin-left: 20px;
  }

  .contacts__wrapper {
    width: 883px;
    min-height: 135px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .contacts__block--email {
    order: 2;
  }

  .contacts__block--address {
    width: 215px;
    padding-left: 17px;
  }
}
