.contacts {
  position: relative;
  padding-top: 43px;
}

.contacts__header {
  @include zero-fields;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 30px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1x solid red;
}

.contacts__type {
  @include zero-fields;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.contacts__value {
  display: block;
  @include zero-fields;
  text-align: center;
  text-decoration: none;
  color: #d22856;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}
