.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__name {
  text-align: left;
  width: 95px;
  margin-bottom: 9px;
  margin-right: 7px;
  display: block;
  color: #283645;
  font-size: 14px;
  line-height: 18px;
}

.copyright__link-logo {
  fill: #d22856;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__name {
    margin-top: 8px;
    width: 117px;
    font-size: 18px;
    align-self: flex-start;
  }
}
