.describe {
  @include zero-fields;
  border: none;
  padding: 28px 20px 20px 20px;
  order: 4;
}

.describe__legend {
  display: none;
  margin: 0 auto;
}

.describe__header {
  @include zero-fields;
  @include form-label;
  width: 220px;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
  padding-top: 10px;
  padding-bottom: 16px;
}

.describe__textarea {
  display: block;
  overflow-y: auto;
  box-sizing: border-box;
  margin: 0 auto;
  width: 280px;
  height: 202px;
  border: 2px solid #e7e7e7;
  resize: none;
  padding: 14px 18px;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }

  &:focus {
    border-color: #d22856;
  }

  &::placeholder {
    @include textarea_placeholder;
  }

  &::-ms-input-placeholder {
    @include textarea_placeholder;
  }
}

@media (min-width: $tablet-width) {
  .describe {
    border: 2px solid $bg-blocks-color;
    padding-top: 34px;
    padding-bottom: 51px;
    margin-top: 32px;
    margin-bottom: 18px;
  }

  .describe__header {
    display: none;
  }

  .describe__legend {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0 35px;
    font-size: 14px;
    color: $main-red;
  }

  .describe__textarea {
    width: 498px;
    height: 192px;
  }
}

@media (min-width: $desktop-width) {
  .describe {
    width: 940px;
    padding-top: 32px;
    padding-bottom: 44px;
  }

  .describe__textarea {
    width: 820px;
    height: 127px;
  }
}
