.download-app {
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 462px;
  }
  background-repeat: no-repeat;
  background-position: center -67px;
}

.download-app__container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 23px 20px 0 20px;
  background-image: url("../img/iphone-hand-mobile@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: auto 286px;
  }
  background-repeat: no-repeat;
  background-position: left 109px;
}

.download-app__wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-app__slogan-text {
  @include zero-fields;
  box-sizing: border-box;
  min-height: 370px;
  color: $menu-text;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.download-app__platforms {
  @include zero-fields;
  width: 210px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: $menu-text;
}

.download-app__button {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 11px;
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  border: 3px solid #ffffff;
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;

  &:hover {
    color: $main-red;
    background-color: #ffffff;
  }

  &:active {
    color: #f2bfcc;
    background-color: #ffffff;
  }
}

.download-app__description {
  @include zero-fields;
  color: $menu-text;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  width: 235px;
  padding-top: 16px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .download-app {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center -110px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .download-app__container {
    box-sizing: border-box;
    width: $tablet-width;
    min-height: 618px;
    background-image: url("../img/iphone-hand-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: auto 545px;
    }
    background-position: center 73px;
  }

  .download-app__wrapper {
    margin: 0;
    width: 300px;
  }

  .download-app__slogan-text {
    min-height: 170px;
    padding-top: 70px;
    width: 195px;
    font-size: 40px;
    line-height: 48px;
  }

  .download-app__button {
    margin-bottom: 50px;
  }

  .download-app__description {
    padding-top: 25px;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .download-app {
    background: transparent;
  }

  .download-app__container {
    width: $desktop-width;
    min-height: 744px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url("../img/iphone-hand-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: auto 643px;
    }
    background-position: 27px bottom;
  }

  .download-app__slogan-text {
    padding-top: 87px;
    width: 240px;
    font-size: 50px;
    line-height: 60px;
  }

  .download-app__button {
    margin-top: 51px;
    margin-bottom: 70px;
    font-size: 21px;
  }

  .download-app__description {
    padding-top: 44px;
  }
}
