.download-app  {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-top: 23px;
  background-image: url("../../img/iphone-hand-mobile@1x.png"),
                    url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat,
                     no-repeat;
  background-position: top 109px left,
                       top -67px center;
}

.download-app__wrapper  {
  margin: 0 auto;
  width: 285px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.download-app__slogan-text  {
  @include zero-fields;
  box-sizing: border-box;
  min-height: 370px;
  color: $menu-text;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.download-app__platforms  {
  @include zero-fields;
  width: 210px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: $menu-text;
}

.download-app__button   {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  border: 3px solid #ffffff;
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  &:hover  {
    color: $main-red;
    background-color: #ffffff;
  }
  &:active  {
    color: #f2bfcc;
    background-color: #ffffff;
  }
}

.download-app__description  {
  @include zero-fields;
  color: $menu-text;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  width: 235px;
  padding-top: 16px;
  padding-bottom: 30px;
}
