.form-contacts {
  @include zero-fields;
  border: none;
  padding: 27px 20px 29px 20px;
  order: 2;
}

.form-contacts__legend {
  display: none;
  margin: 0 auto;
}

.form-contacts__list {
  @include zero-list;
}

.form-contacts__item {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 12px;
}

.form-contacts__label {
  @include form-label;
  padding-left: 22px;
  padding-bottom: 5px;
}

.form-contacts__input {
  @include form-field;
  box-sizing: border-box;
  width: 100%;
  height: 63px;
  padding-left: 20px;
  padding-right: 65px;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }

  &:focus {
    border-color: #d22856;
  }

  &:disabled {
    pointer-events: none;
    border-color: rgba(229, 229, 229, 0.2);
  }
}

.form-contacts__input::-moz-placeholder {
  line-height: 3;
  color: #283645;
}

.form-contacts__phone-wrapper {
  position: relative;

  &::before {
    display: none;
    position: absolute;
    content: "";
    width: 61px;
    height: 59px;
    background-color: #e5e5e5;
    top: 2px;
    right: 2px;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 61px;
    height: 59px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 2px;
    right: 2px;
  }
}

.form-contacts__email-wrapper {
  position: relative;

  &::before {
    display: none;
    position: absolute;
    content: "";
    width: 61px;
    height: 59px;
    background-color: #e5e5e5;
    top: 2px;
    right: 2px;
  }

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 61px;
    height: 59px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 2px;
    right: 2px;
  }
}

@media (min-width: $tablet-width) {
  .form-contacts {
    order: 2;
    background-color: transparent;
    border: 2px solid $bg-blocks-color;
    padding-bottom: 9px;
    margin-top: 20px;
    margin-bottom: 36px;
  }

  .form-contacts__header {
    display: none;
  }

  .form-contacts__legend {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0 30px;
    font-size: 14px;
    color: $main-red;
  }

  .form-contacts__list {
    display: flex;
    height: 257px;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 2px;
  }

  .form-contacts__item {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 38px;
    padding-right: 38px;
  }

  .form-contacts__label {
    padding-top: 10px;
    padding-left: 19px;
  }

  .form-contacts__phone-wrapper {
    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }

  .form-contacts__email-wrapper {
    &::before {
      display: block;
    }

    &::after {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-contacts {
    box-sizing: border-box;
    width: 940px;
    margin-top: 17px;
    padding-top: 25px;
    padding-bottom: 21px;
  }

  .form-contacts__list {
    flex-direction: row;
    height: 100px;
    padding: 0 39px 0 39px;
  }

  .form-contacts__item {
    padding: 0;
  }

  .form-contacts__label {
    line-height: 14px;
    padding-top: 18px;
    padding-bottom: 0;
  }

  .form-contacts__phone-wrapper,
  .form-contacts__email-wrapper {
    width: 375px;
  }
}
