.page-footer {
  background-color: $main-layer-color;
  box-sizing: border-box;
  min-height: 285px;
  padding-top: 40px;
}

.page-footer--index {
  display: none;
}

.page-footer__wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: block;
  text-align: center;
}

.page-footer__logo-image {
  cursor: pointer;
}

.page-footer__logo-image:hover {
  & path {
    fill: $main-red;
  }
}

.page-footer__logo-image:active {
  & path {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .page-footer--index {
    display: block;
  }

  .page-footer {
    min-height: 128px;
    padding-top: 30px;
  }

  .page-footer__wraper {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .page-footer__logo {
    margin-top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    min-height: 198px;
    padding-top: 66px;
  }

  .page-footer__wraper {
    padding-left: 10px;
    padding-right: 4px;
  }
  // .test {
  //   width: auto;
  //   height: 331px;
  //   background-repeat: no-repeat;
  //   background-position: center -110px;
  //   background-image: url("../img/bg-back-tablet@1x.jpg");

  //   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  //     background-image: url("../img/bg-back-tablet@2x.jpg");
  //     background-position: center -110px;
  //     background-size: auto 731px;
  //   }
  // }
}
