.page-header {
  background-color: $bg-download-app-color;
}

.page-header__logo {
  box-sizing: border-box;
  min-height: 68px;
  padding-top: 20px;
  padding-left: 20px;
}

.page-header__logo-image,
.page-header__toggle-image {
  cursor: pointer;
  &:hover path {
    fill: $main-red;
    }
   &:active path {
    opacity: 0.3;
    }
}

.page-header__menu {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $menu-background-color;
}
