.person {
  @include zero-fields;
  box-sizing: border-box;
  border: none;
  order: 0;
}

.person__list {
  @include zero-list;
  padding: 5px 20px 33px 20px;
}

.person__label {
  @include form-label;
  padding-left: 22px;
  padding-bottom: 5px;
}

.person__input {
  @include zero-fields;
  @include form-field;
  padding-left: 20px;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: #d22856;
  }

  &:disabled {
    pointer-events: none;
    border-color: rgba(229, 229, 229, 0.2);
  }
}

.person__item {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  padding-bottom: 9px;
}

@media (min-width: $tablet-width) {
  .person__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 30px;
  }

  .person__list {
    padding: 49px 0 27px 0;
  }

  .person__input {
    flex-grow: 1;
  }

  .person__label {
    padding: 0 19px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .person {
    width: 470px;
    padding-top: 8px;
    padding-right: 34px;
    order: 0;
  }

  .person__list {
    padding-bottom: 10px;
  }

  .person__item {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

