.photo-item {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
}

.photo-item__image {
  display: block;
  width: 100%;
  height: auto;
}

.photo-item__description {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 18px 11px 25px 18px;
  background-color: $bg-blocks-color;
  color: $main-dark-color;
  font-size: 14px;
  line-height: 24px;
}

.photo-item__author-wrapper {
  padding-right: 5px;
}

.photo-item__author {
  @include zero-fields;
  word-wrap: break-word;
  font-weight: 700;
}

.photo-item__comment-date {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}

.photo-item__comment {
  @include zero-fields;
  padding-bottom: 14px;
  word-wrap: break-word;
}

@media (min-width: $tablet-width) {
  .photo-item {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 21px;
  }

  .photo-item__link {
    display: block;
    width: 300px;
    height: 300px;
  }

  .photo-item:nth-child(2n) {
    margin-right: 0;
  }

  .photo-item__description {
    padding-top: 24px;
    padding-left: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photo-item__comment {
    min-height: 53px;
  }
}

@media (min-width: $desktop-width) {
  .photo-item {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 55px;
  }

  .photo-item__link {
    height: 400px;
  }

  .photo-item:nth-child(2n) {
    margin-right: 20px;
  }

  .photo-item:nth-child(3n) {
    margin-right: 0;
  }
}
