.photos-review {
  background-color: $main-layer-color;
  box-sizing: border-box;
}

.photos-review__list {
  @include zero-fields;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .photos-review {
    padding: 0 20px;
  }

  .photos-review__list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .photos-review {
    padding: 0 10px;
  }
}
