.top-banner  {
  @include mobile-centered;
  height: 173px;
  background-color: #283645;
  border-top: 1px solid transparent;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top -70px left 0;
}

.top-banner__photos  {
  @include zero-fields;
  width: 225px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
