.top-banner {
  min-height: 170px;
  background-color: $main-dark-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 462px;
  }
  background-repeat: no-repeat;
  background-position: center -66px;
}

.top-banner__header {
  @include zero-fields;
  width: 230px;
  color: $main-header-color;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.top-banner__header--photo {
  width: 175px;
}

@media (min-width: $tablet-width) {
  .top-banner {
    min-height: 330px;
    background-color: $main-dark-color;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: auto 729px;
    }
    background-position: center -110px;
  }

  .top-banner__header {
    text-align: center;
    width: 475px;
    padding-top: 70px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
  }

  .top-banner__header--photo {
    width: 365px;
  }
}


@media (min-width: $desktop-width) {
  .top-banner {
    min-height: 285px;
    background: transparent;
  }

  .top-banner__header {
    padding-top: 65px;
    width: 750px;
  }

  .top-banner__header--photo {
    width: 400px;
  }
}
