.top-photo {
  margin: 0 auto;
  margin-bottom: 20px;
}

.top-photo__image {
  display: block;
  width: 100%;
  height: 100%;
}

.top-photo__link {
  display: block;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 137px;

  &::before {
    position: absolute;
    content: "Панорама дня";
    font: inherit;
    font-size: 12px;
    line-height: 24px;
    padding-top: 6px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    width: 140px;
    height: 30px;
    color: $main-layer-color;
    background-color: $main-red;
    top: 0;
    right: 20px;
    z-index: 1;
  }
}

.top-photo__description {
  margin: 0 auto;
  box-sizing: border-box;
  width: 280px;
  padding: 18px 11px 25px 18px;
  background-color: $bg-blocks-color;
  color: $main-dark-color;
  font-size: 14px;
  line-height: 24px;
}

.top-photo__author-wrapper {
  padding-right: 5px;
}

.top-photo__author {
  @include zero-fields;
  font-weight: 700;
  word-wrap: break-word;
}

.top-photo__comment-date {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}

.top-photo__comment {
  @include zero-fields;
  padding-bottom: 15px;
  word-wrap: break-word;
}

@media (min-width: $tablet-width) {
  .top-photo {
    margin-bottom: 50px;
  }

  .top-photo__link {
    max-width: 700px;
    width: auto;
    height: 509px;

    &::before {
      top: 57px;
      right: 20px;
    }
  }

  .top-photo__description {
    display: flex;
    padding: 24px 29px 9px 27px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
  }

  .top-photo__comment {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .top-photo {
    margin-bottom: 50px;
  }

  .top-photo__link {
    max-width: 1200px;
    width: auto;
    height: 506px;

    &::before {
      top: 54px;
      right: 10px;
    }
  }

  .top-photo__description {
    width: 940px;
  }
}
