.upload-photo {
  background-color: $bg-blocks-color;
  padding-top: 20px;
}

.upload-photo__form {
  @include zero-fields;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.upload-photo__image {
  display: block;
  margin: 0 20px 25px 20px;
  width: 280px;
  height: 374px;
}

.upload-photo__image-source {
  width: 100%;
  height: auto;
}

.upload-photo__controls {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.upload-photo__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.upload-photo__modes {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 208px;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;
}

.upload-photo__bars {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding-top: 23px;
  padding-bottom: 34px;
}

.upload-photo__buttons {
  width: 320px;
  height: 134px;
  padding-top: 38px;
  padding-bottom: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #dddfe0;
}

.upload-photo__upload {
  @include button-template(280px, #d22856);
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: #d22856;
  }

  &:active {
    color: #e08195;
  }
}

.upload-photo__cancel {
  @include button-template(280px, #dddfe0);
  cursor: pointer;

  &:hover {
    color: #b5b9be;
    border-color: #b5b9be;
  }

  &:active {
    color: #cdd0d3;
    background-color: #b5b9be;
  }
}

.upload-photo__size-button,
.upload-photo__contrast-button,
.upload-photo__brightness-button {
  @include zero-fields;
  display: block;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.upload-photo__icon,
.upload-photo__icon--brightness {
  fill: #b5b9be;

  &:hover {
    fill: #8d949b;
  }

  &:active {
    fill: #d22856;
  }
}

.upload-photo__icon--active {
  pointer-events: none;
  fill: #d22856;
}

.upload-photo__item--size,
.upload-photo__item--contrast {
  display: none;
}

@media (min-width: $tablet-width) {
  .upload-photo {
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
  }

  .upload-photo__form {
    justify-content: space-between;
  }

  .upload-photo__image {
    @include zero-fields;
    padding-top: 37px;
    margin-right: 45px;
    width: 300px;
    height: 400px;
  }

  .upload-photo__controls {
    @include zero-fields;
    width: 275px;
  }

  .upload-photo__size-button,
  .upload-photo__contrast-button,
  .upload-photo__brightness-button {
    text-align: left;
    width: 26px;
  }

  .upload-photo__item--size,
  .upload-photo__item--contrast {
    display: block;
  }

  .upload-photo__wrapper {
    position: relative;
    width: 258px;
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    height: 240px;

    &::after {
      position: absolute;
      content: "";
      top: 93px;
      left: 0;
      width: 275px;
      height: 1px;
      background-color: #dddfe0;
      box-shadow: 0 73px 0 0 #dddfe0, 0 143px 0 0 #dddfe0;
    }
  }

  .upload-photo__modes {
    display: flex;
    box-sizing: border-box;
    width: 55px;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 21px;
    padding-left: 2px;
  }

  .upload-photo__bars {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    width: 203px;
    margin-top: 24px;
  }

  .upload-photo__item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .upload-photo__item--contrast {
    margin-top: 51px;
    margin-bottom: 48px;
  }

  .upload-photo__icon--brightness {
    padding-left: 6px;
    width: 16px;
    height: 16px;
    fill: #d22856;
  }

  .upload-photo__modes-item--contrast {
    margin-top: 27px;
    margin-bottom: 20px;
  }

  .upload-photo__icon {
    width: 24px;
    height: 24px;
    fill: #d22856;
  }

  .upload-photo__buttons {
    margin-top: 25px;
    height: 159px;
    margin-left: 0;
    padding-bottom: 25px;
    width: 262px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .upload-photo {
    width: 940px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 17px;
  }

  .upload-photo__form {
    width: 100%;
  }

  .upload-photo__image {
    @include zero-fields;
    padding-top: 37px;
    margin-left: 80px;
    margin-right: 88px;
    width: 300px;
  }

  .upload-photo__controls {
    width: 470px;
  }

  .upload-photo__wrapper {
    width: 380px;
    height: 300px;

    &::after {
      position: absolute;
      content: "";
      top: 93px;
      left: 0;
      width: 410px;
      height: 1px;
      background-color: #dddfe0;
      box-shadow: 0 73px 0 0 #dddfe0, 0 143px 0 0 #dddfe0;
    }
  }

  .upload-photo__modes {
    width: 92px;
  }

  .upload-photo__size-button,
  .upload-photo__contrast-button,
  .upload-photo__brightness-button {
    width: 50px;
  }

  .upload-photo__bars {
    width: 288px;
    margin-top: 23px;
  }

  .upload-photo__icon--brightness {
    padding-left: 6px;
    width: 32px;
    height: 32px;
  }

  .upload-photo__icon {
    width: 46px;
    height: 46px;
  }

  .upload-photo__buttons {
    width: 410px;
    height: 60px;
    margin-top: 45px;
    margin-bottom: 10px;
    padding-right: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .upload-photo__upload {
    @include button-template(183px, #d22856);
    border-top-left-radius: 16% 50%;
    border-top-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
  }

  .upload-photo__cancel {
    @include button-template(183px, #dddfe0);
    border-top-left-radius: 16% 50%;
    border-top-right-radius: 16% 50%;
    border-bottom-left-radius: 16% 50%;
    border-bottom-right-radius: 16% 50%;
  }
}
