$bg-main-color: #eeeeee;
$text-color: #000000;
$main-red: #d22856;

$menu-text: #ffffff;
$menu-background-color: #283645;
$menu-border: #485461;
$menu-active: #596470;

$bg-download-app-color: #1d2631;

$main-layer-color: #ffffff;
$bg-blocks-color: #f2f2f2;
$main-dark-color: #283645;
$main-header-color: #ffffff;

