img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  @include zero-fields;
  font-family: "Open Sans", Lucida Grande, sans-serif;
  font-size: $main-font-size;
  line-height: $main-line-height;
  font-weight: $main-font-weight;
  color: $text-color;
}

.container  {
  width: 320px;
  margin: 0 auto;
}

