@mixin zero-fields {
  margin: 0;
  padding: 0;
}

@mixin zero-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin bottom-edge {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin centralizer($width) {
  margin: 0 auto;
  width: $width;
}
