$tablet-width: 660px;
$desktop-width: 960px;
$no-desktop-width: 959px;
$main-font-size: 16px;
$main-line-height: 24px;
$main-font-weight: 500;

/* menu */
$menu-font-size: 18px;
$menu-line-height: 32px;
$menu-font-weight: 700;
