$tablet-resolution: 660px;
$desktop-resolution: 960px;
$main-font-size: 16px;
$main-line-height: 24px;
$main-font-weight: 500;

/* menu */
$menu-font-size: 16px;
$menu-line-height: 32px;
$menu-font-weight: 700;
