@import "common/visually-hidden.scss";
@import "common/fonts.scss";
@import "common/variables.scss";
@import "common/mixins.scss";
@import "common/colors.scss";
@import "blocks/body.scss";
@import "blocks/top-banner.scss";
@import "blocks/page-header.scss";
@import "blocks/navigation.scss";
@import "blocks/page-index.scss";
@import "blocks/download-app.scss";
@import "blocks/proposal.scss";
@import "blocks/photos-review.scss";
@import "blocks/photo-item.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
